body{
    background: white;
}
:root {
    --font-family: "Inter", sans-serif;
  }
.free{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #000;
}
.card{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #000;
}
.floor{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #000;
}
.buy{
    position:relative;
    left: 30%;
    top: 50%;
    border-radius: 8px;
    padding: 10px 8px 10px 16px;
    width: 376px;
    height: 48px;
    background: rgba(0, 0, 0, 0.56);
    
}
.arrow-icon{
    animation-name: animation1;
    animation-duration: 5s;
    animation-iteration-count: infinite alternate;
}

@keyframes animation1{
    from {
        stroke: red;
    }
    to { 
        stroke: green;
    }
}